
body{
	margin:0;
	padding: 0;
	background-image: url("s.jpg") ;
	background-size: cover;
	background-position: center;

}

.box1{
	width: 550px;
	background-color: rgba(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 7%;
	margin-bottom: 7%;
	color: white;
	font-family: "Courier New", Courier, monospace;
}
.userImg{
	border-radius: 55%;
	width: 250px;
	height: 250px;
}
p, .show5, .show6{
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	font-family: arami;
}
span:hover{
	background-color: rgba(0,0,0,0);
}

span {
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 25px;
    font-family: rainbow;
    border: none;
    cursor: pointer;
}

@font-face{
	font-family: 'arami';
	src: url("font/aramisi.ttf");
	font-style: normal;
	font-weight: 100;

}

@font-face{
	font-family: 'precious';
	src: url("font/Precious.ttf");
	font-style: normal;
	font-weight: 100;

}

@font-face{
	font-family: 'camille';
	src: url("font/Camille.ttf");
	font-style: normal;
	font-weight: 100;

}

@font-face{
	font-family: 'rainbow';
	src: url("font/Rainbow.ttf");
	font-style: normal;
	font-weight: 100;

}

.show1, .show2, .show3, .show4, .show5, .show6, .show7 {
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    display: none;
    font-family: arami;
    font-weight: 100;
}
    
.about:hover + .show1 {
    display: block;
}

.hobbies:hover + .show2 {
    display: block;
}


.fcolor:hover + .show3 {
    display: block;
}

.ffood:hover + .show4 {
    display: block;
}

.whyComsci:hover + .show5 {
    display: block;
}

.favsubject:hover + .show6 {
    display: block;
}

.favproglang:hover + .show7 {
    display: block;
}




h1{
	font-family: rainbow;
	font-weight: 100;
	font-size: 40px;
}

h2{
	font-family: rainbow;
	font-weight: 100;
	font-size: 30px;
}
